body {
  background-image: url('../img/surgeon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: rgba(56, 108, 221, 0.5);
}
.logoCstm {
  color: rgb(154, 255, 253)
}

main{
  display: flex;
  height: 100%;
  max-width: 1400px;
  background-color: white;
  padding-top: 2rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

#pleth {
  height: 150px;
}