#mainContainer {
  /* border: 2px solid black; */
  outline: 2px solid black;
  height: 100%;
  max-width: 83%;
  margin-left: 15%;
  margin-bottom: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

#patInfo {
  margin-bottom: 1%;
}
#vitalData {
  font-size: 60px;
}
#resp {
  margin-top: 20px;
  height: 250px;
}
#pleth {
  margin-top: 20px;
  height: 250px;
}
#vitalContainer {
  margin-top: 10px;
  height: 150px;
}
